{% extends 'base.html.twig' %}

{% block title %} - Items{% endblock %}

{% block body %}

<table style="font-size: 15px" class="table table-bordered">
    <thead>
    <tr class="" style="position: sticky; top: 0; z-index: 1;">
        <td></td>
        <td class="table-warning">Thais</td>
        <td class="table-warning">Thais</td>
        <td class="bg-warning">Fibula</td>
        <td class="table-info">Kazordoon</td>
        <td class="table-info">Kazordoon</td>
        <td class="table-danger">Carlin</td>
        <td class="table-danger">Carlin</td>
        <td class="table-success">Ab'Dendriel</td>
        <td class="table-warning">Edron</td>
        <td class="table-primary">Venore</td>
        <td class="table-primary">Venore</td>
        <td class="table-secondary">Darashia</td>
        <td class="table-secondary">Darashia</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="table-info" style="position: sticky; top: 30px; z-index: 1;">
        <td>NPC:</td>
        <td>Hardek</td>
        <td>Sam</td>
        <td>Timur</td>
        <td>Kroox</td>
        <td>Uzgod</td>
        <td>Rowenna</td>
        <td>Cornelia</td>
        <td>Shanar</td>
        <td>Willard </td>
        <td>Yanni</td>
        <td>Romelia</td>
        <td>Azil</td>
        <td>Habdel</td>
        <td>H.L.</td>
        <td></td>
        <td>BONUS: Wyat</td>
        <td></td>
        <td>Alexander</td>
        <td></td>
        <td>Beatrice</td>
        <td></td>
    </tr>
    </thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Mind Stone</td>
        <td>200g</td>
        <td>Crystal Ball</td>
        <td>190g</td>
        <td>Fishing Rod</td>
        <td>40g</td>
    </tr>
    <tr>
        <td style="font-size: 25px">ITEMS ↓</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Golden Mug</td>
        <td>350g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Helmets</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Chain Helmet</td>
        <td></td>
        <td>17g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>17g</td>
        <td>17g</td>
        <td>17g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Brass Helmet</td>
        <td>30g</td>
        <td></td>
        <td></td>
        <td>30g</td>
        <td></td>
        <td></td>
        <td>30g</td>
        <td>30g</td>
        <td></td>
        <td></td>
        <td></td>
        <td>30g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Viking Helmet</td>
        <td>66g</td>
        <td></td>
        <td>66g</td>
        <td>66g</td>
        <td></td>
        <td></td>
        <td>66g</td>
        <td>66g</td>
        <td></td>
        <td></td>
        <td></td>
        <td>66g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Iron Helmet</td>
        <td>145g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>150g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Soldier Helmet</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>16g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Steel Helmet</td>
        <td></td>
        <td></td>
        <td></td>
        <td>293g   </td>
        <td></td>
        <td></td>
        <td>293g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>  </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Armors</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Chain Armor</td>
        <td></td>
        <td>70g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>70g</td>
        <td>70g</td>
        <td>70g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Brass Armor</td>
        <td></td>
        <td>150g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>150g</td>
        <td>150g</td>
        <td>150g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Scale Armor</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>75g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Plate Armor</td>
        <td></td>
        <td>400g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>400g</td>
        <td>400g</td>
        <td>400g</td>
        <td></td>
        <td></td>
        <td></td>
        <td>         </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Legs</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Chain Legs</td>
        <td></td>
        <td>25g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>25g</td>
        <td>25g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Brass Legs</td>
        <td>49g</td>
        <td></td>
        <td></td>
        <td>49g</td>
        <td></td>
        <td></td>
        <td>49g</td>
        <td>49g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Plate Legs</td>
        <td>       </td>
        <td></td>
        <td></td>
        <td>400g</td>
        <td>       </td>
        <td></td>
        <td></td>
        <td>       </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Shields</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Brass Shield</td>
        <td>16g</td>
        <td></td>
        <td></td>
        <td>16g</td>
        <td></td>
        <td></td>
        <td>16g</td>
        <td>16g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Plate Shield</td>
        <td> </td>
        <td></td>
        <td></td>
        <td>45g</td>
        <td></td>
        <td></td>
        <td>45g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>45g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Steel Shield</td>
        <td></td>
        <td>80g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80g</td>
        <td>80g</td>
        <td>80g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Battle Shield</td>
        <td>95g</td>
        <td>95g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>    </td>
        <td>95g</td>
        <td>95g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Dwarven Shield</td>
        <td></td>
        <td></td>
        <td></td>
        <td>100g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Viking Shield</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>85g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Clubs</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mace</td>
        <td></td>
        <td>30g</td>
        <td>        30g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>30g</td>
        <td></td>
        <td>30g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Battle Hammer</td>
        <td></td>
        <td>120g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>120g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Morning Star</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>100g</td>
        <td>       100g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>100g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Clerical Mace</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>170g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>War Hammer</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>470g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Staff</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>75g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Swords</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sabre</td>
        <td></td>
        <td>12g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>12g</td>
        <td>12g</td>
        <td></td>
        <td>12g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sword</td>
        <td></td>
        <td>25g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>25g</td>
        <td>25g</td>
        <td></td>
        <td>25g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Longsword</td>
        <td>51g</td>
        <td></td>
        <td></td>
        <td></td>
        <td>51g</td>
        <td></td>
        <td></td>
        <td>51g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Carlin Sword</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>118g</td>
        <td>118g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2-handed Sword</td>
        <td></td>
        <td>450g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>450g</td>
        <td>450g</td>
        <td></td>
        <td>450g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Axes</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Hatchet</td>
        <td></td>
        <td></td>
        <td>25g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Barbarian Axe</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>185g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Battle Axe</td>
        <td></td>
        <td>80g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>80g</td>
        <td></td>
        <td>80g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Double Axe</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>       260g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>260g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Halberd</td>
        <td></td>
        <td>400g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>400g</td>
        <td></td>
        <td>400g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Axe</td>
        <td></td>
        <td>7g</td>
        <td></td>
        <td></td>
        <td>7g</td>
        <td>7g</td>
        <td>7g</td>
        <td>7g</td>
        <td>7g</td>
        <td></td>
        <td>7g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Orcish Axe</td>
        <td>60g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td>Ranged</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Bow</td>
        <td></td>
        <td></td>
        <td>130g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Crossbow</td>
        <td></td>
        <td></td>
        <td>160g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="font-size: 25px">DJINNS →</td>
        <td class="table-success"></td>
        <td class="table-success">      Alesar</td>
        <td class="table-success"></td>
        <td class="table-success">      Yaman</td>
        <td class="table-danger"></td>
        <td class="table-danger">     Nah'Bob</td>
        <td class="table-danger"></td>
        <td class="table-danger">      Haroun</td>
        <td class="table-primary"></td>
        <td class="table-primary">Rashid</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Ancient Shield</td>
        <td>900g</td>
        <td>Ankh</td>
        <td>300g</td>
        <td>Blue Robe</td>
        <td>10k</td>
        <td>Axe Ring</td>
        <td>250g</td>
        <td>Ancient Amulet</td>
        <td>200g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Black Shield</td>
        <td>800g</td>
        <td>Dragon Necklace</td>
        <td>100g</td>
        <td>Beholder Shield</td>
        <td>1.2k</td>
        <td>Bronze Amulet</td>
        <td>50g</td>
        <td>Dark Shield</td>
        <td>400g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Dark Armor</td>
        <td>400g</td>
        <td>Dwarven Ring</td>
        <td>50g</td>
        <td>Boots of Haste</td>
        <td>30k</td>
        <td>Club Ring</td>
        <td>250g</td>
        <td>Demon Shield</td>
        <td>30k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Dark Helmet</td>
        <td>250g</td>
        <td>Energy Ring</td>
        <td>50g</td>
        <td>Broad Sword</td>
        <td>500g</td>
        <td>Elven Amulet</td>
        <td>400g</td>
        <td>Devil Helmet</td>
        <td>1k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Dragon Hammer</td>
        <td>2k</td>
        <td>Life Ring</td>
        <td>50g</td>
        <td>Crown Armor</td>
        <td>12k</td>
        <td>Garlic Necklace</td>
        <td>50g</td>
        <td>Dragon Scale Mail</td>
        <td>40k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Giant Sword</td>
        <td>17k</td>
        <td>Might Ring</td>
        <td>1.2k</td>
        <td>Crown Helmet</td>
        <td>2.5k</td>
        <td>Life Crystal</td>
        <td>150g</td>
        <td>Gold Ring</td>
        <td>8k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Knight Armor</td>
        <td>5k</td>
        <td>Protection Amulet</td>
        <td>100g</td>
        <td>Crown Legs</td>
        <td>12k</td>
        <td>Magic Light Wand</td>
        <td>35g</td>
        <td>Golden Armor</td>
        <td>20k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Knight Axe</td>
        <td>2k</td>
        <td>Ring of Healing</td>
        <td>100g</td>
        <td>Crown Shield</td>
        <td>8k</td>
        <td>Power Ring</td>
        <td>250g</td>
        <td>Golden Legs</td>
        <td>30k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Knight Legs</td>
        <td>5k</td>
        <td>Silver Amulet</td>
        <td>50g</td>
        <td>Crusader Helmet</td>
        <td>6k</td>
        <td>Stealth Ring</td>
        <td>50g</td>
        <td>Griffin Shield</td>
        <td>3k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Mystic Turban</td>
        <td>150g</td>
        <td>Time Ring</td>
        <td>50g</td>
        <td>Dragon Scale Mail</td>
        <td>40k</td>
        <td>Sword Ring</td>
        <td>250g</td>
        <td>Magic Plate Armor</td>
        <td>90k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Poison Dagger</td>
        <td>50g</td>
        <td>Mysterious Fetish</td>
        <td>50g</td>
        <td>Dragon Lance</td>
        <td>18k</td>
        <td></td>
        <td></td>
        <td>Mastermind Shield</td>
        <td>50k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Scimitar</td>
        <td>150g</td>
        <td>Strange Talisman</td>
        <td>30g</td>
        <td>Dragon Shield</td>
        <td>4k</td>
        <td></td>
        <td></td>
        <td>Medusa Shield</td>
        <td>9k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Serpent Sword</td>
        <td>900g</td>
        <td></td>
        <td></td>
        <td>Fire Axe</td>
        <td>8k</td>
        <td></td>
        <td></td>
        <td>Naginata</td>
        <td>4k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Skull Staff</td>
        <td>6k</td>
        <td></td>
        <td></td>
        <td>Fire Sword</td>
        <td>4k</td>
        <td></td>
        <td></td>
        <td>Platinum Amulet</td>
        <td>2.5k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Strange Helmet</td>
        <td>500g</td>
        <td></td>
        <td></td>
        <td>Guardian Shield</td>
        <td>2k</td>
        <td></td>
        <td></td>
        <td>Ring of the Sky</td>
        <td>30k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Tower Shield</td>
        <td>8k</td>
        <td></td>
        <td></td>
        <td>Noble Armor</td>
        <td>2.5k</td>
        <td></td>
        <td></td>
        <td>Scarab Amulet</td>
        <td>200g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Vampire Shield</td>
        <td>15k</td>
        <td></td>
        <td></td>
        <td>Obsidian Lance</td>
        <td>500g</td>
        <td></td>
        <td></td>
        <td>Silver Brooch</td>
        <td>150g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Warrior Helmet</td>
        <td>5k</td>
        <td></td>
        <td></td>
        <td>Royal Helmet</td>
        <td>30k</td>
        <td></td>
        <td></td>
        <td>Steel Boots</td>
        <td>30k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Spike Sword</td>
        <td>1k</td>
        <td></td>
        <td></td>
        <td>Ruby Necklace</td>
        <td>2k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>War Hammer</td>
        <td>1.2k</td>
        <td></td>
        <td></td>
        <td>Silver Dagger</td>
        <td>500g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Ice Rapier</td>
        <td>1k</td>
        <td></td>
        <td></td>
        <td>Crystal Ring</td>
        <td>250g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Medusa Shield</td>
        <td>9k</td>
        <td></td>
        <td></td>
        <td>Guardian Halberd</td>
        <td>11k</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Phoenix Shield</td>
        <td>???</td>
        <td></td>
        <td></td>
        <td>Crystal Necklace</td>
        <td>400g</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
</table>



{% endblock %}